<!DOCTYPE html>
<html lang="en">
<head>
  <title>KaiqueOnRails</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://kit.fontawesome.com/4f6ef13ecc.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('android-chrome-512x512.png') %>
</head>

<body>
<section class="hero is-small is-primary has-background-dark" >
  <!-- Hero Content: will be in the middle -->
  <div class="hero-body">
    <div class="container is-fluid">
      <h1 class="title">
        <%= link_to 'KaiqueOnRails', root_path %>
      </h1>
    </div>
  </div>
</section>

<%= yield %>
</body>
</html>
